@model Employee




        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>
            <div class="card-text">
                <h5>@nameof(Model.Department): @Model.Department.Name</h5>
                <h5>@nameof(Model.Address): @Model.Address</h5>
                <h5> @nameof(Model.Salary): @Model.Salary</h5> 
            </div>
        </div
    
